<section class="acercade">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error laborum ratione omnis quis iste accusantium
      nesciunt quo, aspernatur quae perferendis quia quaerat adipisci vero debitis sapiente delectus natus
      consequuntur molestiae dolor optio quasi? Molestias ut, ipsam est reprehenderit minus aspernatur enim
      asperiores, sint corrupti <b>laboriosam aliquid quos ducimus.</b> Quisquam facilis doloremque nihil vel
      repellendus
      voluptatem magnam sint officia sed eaque dolorem dolor provident, vero magni aliquam, ea quo corrupti
      eveniet! Maiores soluta non ex illo quaerat sapiente aliquid ea officiis, dolorem necessitatibus minima
      ratione nesciunt nihil <b> consequatur rem praesentium doloribus debitis atque saepe quod recusandae
        obcaecati
        assumenda! Nihil consequuntur quo, culpa minus accusantium voluptas earum exercitationem dolorem facere
        ducimus voluptatum explicabo recusandae nisi sapiente at odio blanditiis obcaecati numquam eveniet
        deserunt
        rem tempore nulla consectetur?</b> Totam distinctio suscipit inventore deleniti.</p>

  </section>


