

  <section id="educacion">
    <div class="container">
      <h2>EDUCACION</h2>
      <div class="divdeeducacion">
        <h3>Secundario</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam nobis magnam incidunt, quis maiores
          dignissimos, odio sequi libero nihil explicabo, neque expedita voluptates et modi error temporibus
          ad
          accusantium. Perferendis at velit aliquid mollitia dolorem earum consectetur molestiae amet
          voluptates.
        </p>
        <button>+ INFO</button>
      </div>

      <div class="divdeeducacion">
        <h3>Lacalle</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus placeat odit qui quas at alias
          debitis
          ducimus error officia quam labore architecto culpa, libero dolor nemo pariatur velit! Beatae,
          laborum.
        </p>
        <button>+ INFO</button>
      </div>

      <div class="divdeeducacion">
        <h3>Youtube</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni perspiciatis provident recusandae
          temporibus adipisci deleniti, harum eligendi, consequuntur aliquid debitis reprehenderit itaque,
          veniam
          quibusdam fugiat quasi sit neque quas tempore cupiditate rerum ullam nostrum dolores autem. Saepe
          qui
          atque iusto possimus quis dolorum, consequatur ad, inventore officiis alias ab deleniti.</p>
      </div>

      <button>+ INFO</button>
    </div>
</section>