
  <section class="proyectos">
    <h2>PROYECTOS</h2>

    <div>
      <h3>proyecto uno</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dignissimos explicabo libero alias atque
        nihil expedita beatae voluptatem. Tempore, nihil.
      </p>
    </div>


    <div>
      <h3>proyecto dos</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dignissimos explicabo libero alias atque
        nihil expedita beatae voluptatem. Tempore, nihil.
      </p>
    </div>


    <div>
      <h3>proyecto tres</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dignissimos explicabo libero alias atque
        nihil expedita beatae voluptatem. Tempore, nihil.
      </p>
    </div>
  </section>
