<section id="experiencia">
    <div class="container">
      <h2>EXPERIENCIA</h2>
      <div class="divdeexperiencia">
        <h3>Don Platon</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt similique nobis asperiores impedit
          perspiciatis? Modi exercitationem fuga veniam dolorem eius id non voluptas temporibus soluta
          repudiandae
          quasi, voluptatibus molestiae consequuntur.</p>
        <button>+ INFO</button>
      </div>

      <div class="divdeexperiencia">
        <h3>Tatamiok</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, accusantium. Nobis voluptate est,
          iste
          excepturi assumenda cumque alias explicabo dolorum rerum! Debitis facere eum numquam reiciendis
          aspernatur officiis quisquam, voluptatum dolorum illo ducimus possimus optio nulla, rerum doloremque
          pariatur nihil saepe quas nobis at iusto placeat vel exercitationem? Ducimus quisquam consequuntur
          adipisci repellendus sint minima recusandae similique iste. Beatae, fugit?</p>
        <button>+ INFO</button>
      </div>

      <div class="divdeexperiencia">
        <h3>Carniceria</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta qui earum vero exercitationem enim
          porro
          optio rem repellat, consequuntur, alias doloremque aliquam nisi officiis eius necessitatibus beatae
          perferendis dolores id? Sit voluptate ea odio temporibus sequi architecto quisquam, dolorum, est
          nisi
          molestiae dignissimos fugit iure earum at officiis.</p>
        <button>+ INFO</button>
      </div>
    </div>
  </section>

